@import "../../utils/variable.scss";

.desktop {
  padding: 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 1rem;
      list-style: none;
      a,
      span {
        padding: 1rem;
        color: #fff;
        text-decoration: none;
        border-radius: 0.75rem;
        cursor: pointer;
        &:hover {
          background-color: #333;
        }
      }
    }
  }
}
