@import "../../utils/_variable.scss";

.desktop {
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  input {
    margin: 0.75rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 0.75rem;
  }
  input[type="submit"] {
    &:hover {
      background-color: #333;
      color: #fff;
      cursor: pointer;
    }
  }
}
